<div class="row">
    <div class="col-sm-9">
        <h1><%= @asc[:asc_name] %></h1>
        <p>Beds: <%= @asc[:beds] %></p>
        <p>Ownership Status: <%= @asc[:ownership] %></p>
        <p>Single or Multi Specialty: <%= @asc[:specialty_type] %></p>

        <% for rating in @ratings %>    
        <div class="media">
                <div class="media-body">
                    <h5 class="mt-0">
                        <%= @users_table.where(id: rating[:user_id]).to_a[0][:name] %>

                        <small>
                            <!-- only show these links if it's my rating -->
                            <% if @current_user && @current_user[:id] == rating[:user_id] %>
                                (<a href="/ratings/<%= rating[:id] %>/edit">edit rating</a>)
                            <% end %>
                        </small>
                    </h5>
                    <%= rating[:comments] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/ascs/<%= @asc[:id] %>/ratings/new" class="btn btn-primary">Rate now!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to rate</a>
            <% end %>
        </p>
    </div>
    <div class="col-sm-3">
        <h3>How many ratings so far?</h3>
        <p><%= @rating_count %></p>
    </div>
</div>